.p1name {
  float: left;
  padding: 100px;
  display: block;
}

.p2name {
  float: right;
  padding: 100px;
}

#roll #hold {
  position: absolute;
  bottom: 5px;
  width: auto;
  padding: 5px;
}

.turnborder {
  width: 100%;
  border-spacing: 1px;
  border-bottom: solid grey;
  border-bottom-width: 5px;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.centertext {
  text-align: center;
}

.column1 {
  width: 30%;
  height: auto;
  box-sizing: border-box;
  margin: auto;
}

.column2 {
  width: 30%;
  height: auto;
  box-sizing: border-box;
  margin: auto;
}

.column3 {
  width: 30%;
  height: auto;
  box-sizing: border-box;
  margin: auto;
}

.buttonsize {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}